@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#1A3636;
    --color-secundario:#000000;
    --color-terciario:#373A40;
    --color-cuaternario:#DC5F00;
    --color-quinto:#D6BD98;
    --fuente-primario:"Roboto Condensed", sans-serif;
    --fuente-secundario: "Krona One", sans-serif;

}
*{
    margin: 0;
    padding: 0;
}

.header{
    padding: 5% 0% 0% 10%;
}
.header-menu{
    display: flex;
    gap: 80px;
}
.header-menu-link{
    font-family: var(--fuente-primario);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--color-cuaternario);
    text-decoration: none;
}
.header-menu-link:hover{
    color: burlywood;
}


body {
    background-color:var(--color-primario);
    color: var(--color-secundario);
    height: 100vh;
    box-sizing: border-box;

}
strong{
    color:aqua
}
p{
    color: var(--color-secundario);
}



.paragraf{
    color: rgb(234, 234, 227)
}
.prezantasyon{
    display: flex;
    align-items: center;
    padding: 4% 4% 15% 10%;

    justify-content: space-between;
    gap: 82px;
}
.prezantasyon-1{
    width: 50%; 
    display: flex;
    flex-direction: column;
   
    
}
.teks-dimansyon{
font-size: 1.5rem;
font-family: var(--fuente-secundario)
}
.paragraf-dimansyon{
font-size: 1.25rem;
font-family: var(--fuente-primario);
}


.red-social{
    display: flex;
    justify-content: space-between;  
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
.link{
    width: 50%;
    text-align: center;
    padding:20.5px 0;
    border-radius:11px;
    font-family: var(--fuente-primario);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid #22d4fd;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.imaj{
    image-rendering: inherit;
    width:50%;

}

.link:hover{
    background-color:var(--color-quinto);
}
.footer{
    background-color: var(--color-quinto);
    padding: 30px;
}

.p-footer{
    color: black;
    font-family: var(--fuente-primario);
    font-size:1.5rem;
    display: flex;
    justify-content: center;
}

@media(max-width:1170px){
    .header{
        padding: 5% 
    }
    .header-menu{
        justify-content: center;
    }
    .prezantasyon{
        flex-direction: column-reverse;
        padding-top: 0%;
    
    }
    .prezantasyon-1{
        width: auto;
    }
    body{
        background-color: rgb(126, 150, 220);
    }
    .header-menu-link{
        color: rgb(221, 225, 139);
    }

}
